.income-list {
    text-align: center;
    margin: 2rem;
    padding: 1rem 3rem 1rem 3rem;
}

.income-list ul {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.income-list li {
    padding: 1rem 1rem .25rem 1rem;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
}

.income-list > h4 {
    color: rgb(7, 0, 80);
    text-shadow: 0px 1px 2px #505050;
    text-align: center;
    font-size: 24px;
    margin-top: 0;
}