.homecontent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2rem;
    border-radius: 1rem;
    padding: 1rem;
    
}

.home > h2 {
    color: rgb(7, 0, 80);
    text-shadow: 0px 2px 4px #505050;
    text-align: center;
    font-size: 48px;
}

.home > h3 {
    color: rgb(7, 0, 80);
    text-shadow: 0px 2px 4px #505050;
    text-align: center;
    font-size: 36px;
}

.border {
    box-shadow: 0 0 10px 1px #00ace07e;
}

alert {
    color:red;
}